@charset "UTF-8";

*{margin: 0; padding: 0 ;color: #fff; font-family: 'Nanum Gothic', sans-serif;}

body{
    background-image:  url(../imgs/backgroundImg.jpg);
    background-blend-mode: darken;
}
/* 가상 클래스를 부여*/
/* wrap에 absolute를 적용시 background의 이미지가 밝기때문에 어둡게 하기 위해 만듬 */
body::after{
    content :'';
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    background-color : rgba(0,0,0,0.4);
z-index: -1;
} 
/* 메인 박스 */
#wrap{
    width: 28.6458vw;
    height: 15.6250vw;
    border-radius: 0.2083vw;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);

}
/* 텍스트 */
.main-text{
    margin-left: 1.9792vw;
    margin-top: 1.5625vw;
    font-weight: 100;
}
/* input */
input{
    margin-top: 1.5625vw;
    background: #333333;
    border: none;
    color: #fff;
    width: 11.7188vw;
    height: 2.6042vw;
    font-size: 1.3021vw;
    font-weight: 100;
    border-radius: 0.2083vw;
    text-indent: 1.0417vw;
}
/* placeholder 스타일링 */
input::placeholder{
    font-size: 1.0417vw;
    padding-left: 0.5208vw;
}
/* input 첫번째 박스 */
#jumin1{
    margin-left: 1.9792vw;
}
/* input클릭시 테두리를 없앰 */
input:focus {outline:none;}
.dash{
    display: inline;
}
/* 경고박스 */
#warning{
    margin: 0.5208vw 0 0.7813vw 2.3958vw;

    
}
/* 클릭버튼 */
#chkBtn{
    display: block;
    background: #e50914;
    font-size: 0.8333vw;
    width: 14.3229vw;
    height: 2.6042vw;
    border-radius: 0.2083vw;
    margin-left: 50%;
    transform: translate(-50%);
}
/* 호버시 커서가 변경됌 */
#chkBtn:hover{
    cursor: pointer;
}
